.admincard{
   background-color: #c1f6b3;
    width:1000px;
    margin-top:10px;
}
thead{
background-color: aliceblue;
}
button.btn {

}
.aboutus{
    margin: 100 auto;
    width: 50%;
}
.button a{
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: normal;
    text-decoration: none;
    color:aliceblue
}
.button{
    border: none;
    background: transparent;
    margin-top:10px;
}
.top{
    top:0;
    left:0;
    position:absolute;

}
ul {
    list-style: none;
}
.form{
    border: solid 1px;
    margin: 100px 100px;
    width: fit-content;
    padding-right: 100px;
}
table.admin_point{
    margin: 0 auto;
}
.point_school{
    background-color: rgb(213, 244, 224);
}
@media (max-width: 480px){
    .form{
        margin:100px 0;
    }
}
