thead{
    /* display:block; */
}
.left{
    width:50%;
}

.profile{
    width:80%;
    padding:16px;
}
.links{
    width:80%;
    margin:0 auto;
}
.add{
    padding:16px;
}
#showFormBtn{
    width:15%;
    width:15%;
}
.add-link{
    background-color: lightblue;
    padding:8px;
}
.form-group{
    margin:8px auto;
}
.image img{
    width:30%;
    height:auto;
}
.testtable-responsive {
    background-color: rgb(212, 231, 243);
}
.bottom table{
    margin: 0 auto;
}
.bottom td{
    width:100px;
}
.bottom p{
    width:80%;
    text-align: start;
    margin:0 auto;
}
.bottom table{
    width:80%;
}
.bottom td{
    padding:8px;
}
.search{
    text-align: right;
}
input{
    width:300px;
} 
select{
    margin:6px;
}
.wrap{
    margin-top:200px;
}
.search{
    padding:8px;
}
.testtable-responsive{
    width:100%;
    margin:0;
}
img{
    width:50%;
    height:auto;
}
.top_area{
    display: flex;
    justify-content: space-evenly;
}
.header_inner{
    padding:0;
}
.header_nav_itm:hover .description1{
    display: inline-block;
    bottom: -40px;
    left:-80px;
}
.bad_share:hover .description1{
    display: inline-block;
    bottom: 80px;
    left:320px;
}
.header_nav_itm{
    margin: left 24px;
}
h1::after {
    content:unset
}
ul.chart{
    width:50%;
    height:auto;
}
.diet_container{
    display: flex;
}
.alert{
    color:red;
    font-weight: bold;
}
.bad_share{
    display: flex;
    align-items: center;
    margin-left: 20%;

}
#badButton{
    background: unset;
    border:unset;
}
.banner{
    width:50%;
}
h3{
    /* font-size:10px; */
}

@media only screen and (min-width: 800px) and (max-width: 1200px){
    thead {
        display: table-header-group; 
    }
    .header_nav_itm:hover .description1{
        display: inline-block;
        bottom: -40px;
        left:20px;
    }
    .bad_share:hover .description1{
        display: inline-block;
        top: 750px;
        left: 80px;
        bottom:450px;
    }
    .bad_share{
        display:block;
    }
    .testtable-responsive {
        margin-top:100px;
    }
    .header_nav_list {
        display: block;
    }
    .banner{
        width:100%;
    }
}

/*レスポンシブ対応*/
@media (max-width: 480px){
    .left{
        width:100%;
    }
    .right{
        margin: 0 auto;
        width: 80%;
    }
    .profile{
        width:90%;
    }
    .add-link {
        width: 90%;
        display: block;
        margin: 0 auto;
    }
    thead {
        display: table-header-group; 
    }
    select{
        font-size: 30px;
        padding:4px;
        margin:6px;
    }
    .wrap{
        margin-top:50px;
    }
    .top_area{
        display: block;
    }
    img{
        width:100%;
    }
    .header_nav_itm:hover .description1{
        display: inline-block;
        bottom: -40px;
        left:100px;
    }
    .bad_share:hover .description1{
        display: inline-block;
        bottom: 70px;
        left:200px;
    }
    .diet_container{
        display: block;
    }
    #showFormBtn{
        width:35%;
        width:35%;
    }
    .banner{
        width:100%;
    }
}