thead{
    /* display:block; */
}
.left{
    width:50%;
}

.profile{
    width:80%;
}
.links{
    width:80%;
    margin:0 auto;
}
.add-link{
    background-color: lightblue;
    padding:8px;
}
.form-group{
    margin:8px auto;
}
.image img{
    width:30%;
    height:auto;
}
.testtable-responsive {
    background-color: rgb(212, 231, 243);
}
.bottom table{
    margin: 0 auto;
}
.bottom td{
    width:100px;
}
.bottom p{
    width:80%;
    text-align: start;
    margin:0 auto;
}
.bottom table{
    width:80%;
}
.bottom td{
    padding:8px;
}
@media only screen and (min-width: 800px) and (max-width: 1200px){
    thead {
        display: table-header-group; 
    }
}

/*レスポンシブ対応*/
@media (max-width: 480px){
    .left{
        width:100%;
    }
    .right{
        margin: 0 auto;
        width: 80%;
    }
    .profile{
        width:90%;
    }
    .add-link {
        width: 90%;
        display: block;
        margin: 0 auto;
}
thead {
    display: table-header-group; 
}
}