@font-face {
    font-family: 'Togali';
    src: url('fonts\Togalite-Bold.woff2') format('woff2');
}
.top img{
    width: 500px;
}
.card{
    background-color: #c1f6b3;

}
ul{
    list-style: none;
    display: flex;
}
li.name{
    display:flex;
}
.login-button{
    background-color: aliceblue;
    padding-top: 20px;
    padding-left: 20px;
    padding-right:20px;
    border: solid 1px darkgray;
    border-radius: 10px;
}
.r-box{
    border-bottom:dashed 1px #21bd33;
}
.register-button{
    background-color: aliceblue;
    padding-top: 20px;
    padding-left: 20px;
    padding-right:20px;
    border: solid 1px darkgray;
    border-radius: 10px;
    margin-left: 10px;
}
.center-button{
    color: #1422d1;
    font-weight: 500;
    background-color:#bfecc4;
    text-decoration: none;
    margin-top: 10px;
    padding: 3px 10px;
    margin-right:10px;
}
.top{
    margin-top:10px;
}
a#name{
    color: #1422d1;
    font-weight: bold;
    background-color: #21bd33;
    text-decoration: none;
    margin-top: 10px;
    padding: 3px 10px;
    margin-right:10px;
}
.button{
    margin-bottom:10px;
}
a.button{

    color: #1422d1;
    font-weight: 500;
    background-color: #bfecc4;
    text-decoration: none;
    margin-top: 10px;
    padding: 3px 10px;
    margin-right:10px;

}
a.navbar-brand{
    font-family: 'Togali', sans-serif
}
main{

}
h2{
    font-family: 'Noto Sans JP', sans-serif;
    color:#555;
}
h2::before{
    font-family:  "Font Awesome 5 Free";
    font-weight:  900;
    content:  "\f549";
    padding-right: 5px;
    }

body{
    background-color: #d1e9cc ;
    text-align:center;
}
.center_image{
    text-align: center;

}
.center_image img{
    height: max-content;
    border:none
}
input#image.form-control{
    width:max-content;
}
input{
    height: 40px;
    width: 200px;
    border:none
}
ul {
    list-style: none;
  }
a#navbarDropdown{
    text-decoration: none;
    color: #d3571e;
    background-color: #85e42c;
    text-decoration: none;
    width: 100%;
    max-width: 340px;
    padding: 5px 10px;

}
/* .side{/* サイドバーのCSS
    background-color: lemonchiffon;
    width: 400px;
    height: 1000px;
    text-align:center;
    border: 2px solid;

} */
.logout_buttom input{
    width: 80px;
    height: 25px;
}
header {
    padding:10px;
    background: #ccc;
  }

  #nav-drawer {
    position: relative;
  }

  /*チェックボックス等は非表示に*/
  .nav-unshown {
    display:none;
  }

  /*アイコンのスペース*/
  #nav-open {
    display: inline-block;
    width: 30px;
    height: 22px;
    vertical-align: middle;
  }

  /*ハンバーガーの形をCSSで表現*/
  #nav-open span, #nav-open span:before, #nav-open span:after {
    position: absolute;
    height: 3px;/*線の太さ*/
    width: 25px;/*長さ*/
    border-radius: 3px;
    background: #555;
    display: block;
    content: '';
    cursor: pointer;
  }
  #nav-open span:before {
    bottom: -8px;
  }
  #nav-open span:after {
    bottom: -16px;
  }

  /*閉じる用の薄黒箇所*/
  #nav-close {
    display: none;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    transition: .3s ease-in-out;
  }

  /*メニューの中身*/
  #nav-content {
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 90%;
    max-width: 330px;/*最大幅（お好みで調整を）*/
    height: 100%;
    background: #fff;
    transition: .3s ease-in-out;
    -webkit-transform: translateX(-105%);
    transform: translateX(-105%);
  }

  /*チェックがついたら表示させる*/
  #nav-input:checked ~ #nav-close {
    display: block;
    opacity: .5;
  }

  #nav-input:checked ~ #nav-content {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    box-shadow: 6px 0 25px rgba(0,0,0,.15);
  }

  .header-logo-menu{
   display: flex;
   display: -moz-flex;
   display: -o-flex;
   display: -webkit-flex;
   display: -ms-flex;
   flex-direction: row;
   -moz-flex-direction: row;
   -o-flex-direction: row;
   -webkit-flex-direction: row;
   -ms-flex-direction: row;
  }

  /*ロゴやサイトタイトルをセンタリング*/
  .logo-area{
      text-align:center;
      margin:auto;
    }
  .panel-body{
    background-color:lightgreen;
    width:80%;
    height:auto;
    margin: 0 50px;
    padding-bottom: 30px;
}
.py-4{/* mainエリア */
    height:auto;
    text-align:center;
    margin-left:5px;
/*     position: relative;
 */    display: flex;
}
.schedule{/*schedule名入力エリア*/
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.table-responsive{
    background-color: lightgreen;
    width: 80%;
    height: auto;
    margin: 0 50px;
    padding-bottom: 30px
}
.table-responsive th{
    border:1px solid #000066;
    background:royalblue;
}
.table-responsive td{
    border:1px solid #000066;
    background:#ffffff;
    height: 50px;
    width: 100px
}
/*保存画面一覧エリア*/
.table_main{
     /* テーブルの上下余白(ボックス外)を20px、
      左右余白(ボックス外)を40pxに設定 */
      margin: 20px 40px;
      /* 隣接するセルのボーダーを重ねて表示する設定 */
      border-collapse: collapse;
      /* カラム数が少なくてもテーブル幅を最大に保つため
        テーブルの幅を(本文全体-左右余白(80px))に設定 */
      width: calc(100% - 80px);
      /* テーブル(本文内)を横スクロールするための設定 */
      white-space: nowrap;
      overflow-x: scroll;
      margin-left: auto;
      margin-right: auto;

}

img,
svg {
  vertical-align: middle;
  width:90px;
  margin: 0 auto;
}
.llco img{
    width: 800px;
    border: none;
}
.regist img{
    width: 800px;
    border: none;
}

.image-list{
    display: table;
    width: 100%;
    min-width: 600px;
    border-collapse: collapse;
}
.cell{
    display:table-cell;
    border: 1px solid;
}
.arrow{
    width: 0px;
    border-color: #d9534f;
    border-style: solid;
    border-width: 30px;
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    margin: 0 auto;
  }
/*ホーム画面*/
.card-header{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.wrap{
    margin:0 auto;
}
.container{
    margin-right: auto;
    margin-left: auto;
}
.table-all{
    margin: 10 auto;

}
.status{
    border: solid 1px white;
    background-color: white;
    margin: 10px 50px;
    width: 80%;
}
/* 点滅 */
@keyframes blinking {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
li.blink{
        animation: blinking 1s ease-in-out infinite alternate;
}
/*リスト画面*/
.list{
/*     padding: 0 35%;
 */}
.button a{
    color: #5560f5;
    text-decoration: none;
    margin-top: 10px;
    padding: 3px 10px;
    font-weight: 500;
    margin-left: 5px;
}
.route{
    overflow: hidden;
}
.tooltip{
    border: 1px solid darkgreen;
    margin: 10px 10px;
    padding: 5px;
}
.submit_button{
    color: #1422d1;
    background-color: #2feb00;
    text-decoration: none;
    padding: 3px 10px;
    font-weight: 500;
    margin-top: 30px;
    float: left;
    margin-right: 10px;
}
.submit_button a{
    text-decoration: none;
}
.table-hover{
    margin: 10 auto;
    width: 50%;
    border: solid 5px lightgray;
}
/*プロフィールページ*/
.profile{
    background-color:beige;
    height: auto;
    margin: 0 50px;
    border: solid 1px lightslategray;
    padding-bottom: 30px;
    width:30%;
}
.pro_button{
    margin: 20px;
}
input.pro_button{
    color: #1422d1;
    background-color: #2feb00;
    text-decoration: none;
    margin-top: 10px;
    padding: 3px 10px;
    font-weight: 500;
}
.pro_button a{
    color: #1422d1;
    background-color: #2feb00;
    text-decoration: none;
    margin-top: 10px;
     padding: 3px 10px;
    font-weight: 500;
    font-size:smaller
}
/*編集ページ*/
.number{
    text-align: center;
}
/*プロフィール編集画面*/
.edit{
    margin:0 auto;
}
/*他人のプロフィール画面*/
a.follow {
    color: #1422d1;
    background-color: #2feb00;
    text-decoration: none;
    margin-top: 10px;
/*     padding: 3px 3px;
 */    font-weight: 500;
}
span.follow{

}
span.badge{

}
/*検索画面*/
table.result{
    margin: 0px auto;
}
#text-button {
        display: block;
        cursor: pointer;
        width: 160px;
        text-align: center;
        border: 1px solid #232323;
      }
#text-button.blue{
    background: #21759b;
}
/*テスト画面*/
.test{
    margin: 0 auto;
/*     width: 30%;
 */}
.score{
    border:unset;
    width: 50%;
    margin: 10 auto;
    background-color:mintcream;
    padding:10px 20px;
}
.error-message{
    border: solid orange 1px;
    color: orange;
    background-color: lightgreen;
    font-weight: bold;
    font-size: 20px;
}
/*正解ページ*/

tbody#tdl tr{

}
/*新規作成画面*/
.create{
    display: flex;
    justify-content: center;
}
.formdrop{
    padding-right: 30px;
    background-color: rgb(115, 185, 239);
}
.radio_box{
border:solid #555 1px;
background-color:rgb(115, 185, 239);
padding-bottom: 10;
padding-right: 10;
margin: top 20px;
}
.radio{
    float: left;
    margin-bottom:10px;
}
.radio-text{
    float:left;
}
td.radioth{
    display: flex;
}
.visually-hidden {
    /* コンテンツの流れから切り離す */
    position: absolute;
    /* 誤ったコードに対処するための回避策 */
    white-space: nowrap;
    /* 可能な限り文字サイズを小さくするための処理
     * (スクリーンリーダー中には height と width が 0 のものを無視するため)
     */
    width: 1px;
    height: 1px;
    /* オーバーフローしているコンテンツを隠す */
    overflow: hidden;
    /* 要素サイズを変更しうるプロパティのリセット */
    border: 0;
    padding: 0;
    /* 要素のどの部分が表示されるかを定義するもの */
    /* 古いブラウザでは使用できない */
    clip: rect(0 0 0 0);
    /* 最近のブラウザ用
     * コンテンツを非表示にする設定  */
    clip-path: inset(50%);
    /* 今現在なぜ-1pxがここで設定されるかは分かっていないそうです。
     * それに加えていくつか問題もあるそうです
     * (参考: https://github.com/h5bp/html5-boilerplate/issues/1985)
     */
    margin: -1px;
  }
label#test {
    cursor: pointer;
    padding-left: 30px;
    position: relative;
  }


  label#test::before,
  label#test::after {
    content: "";
    display: block;
    position: absolute;
  }

  label#test::before {
    background-color: #fff;
    border-radius: 0%;
    border: 1px solid #ddd;
    width: 20px;
    height: 30px;
    transform: translateY(-50%);
    top: 70%;
    left: 5px;
  }

  label#test::after {
    border-bottom: 2px solid green;
    border-left: 2px solid green;
    opacity: 0;
    height: 5px;
    width: 10px;
    transform: rotate(-45deg);
    top: 6px;
    left: 10px;
  }

  input:checked + label#test::after {
    opacity: 1;
  }

/*上に戻るボタン*/
.gotop{
    display: block;
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    background: #FFF;
    border: 1px solid #999;
    padding-top: 30px;
    text-align: center;
    letter-spacing: -1px;
    font-size: 85%;
    text-decoration: none;
    color: #333;
    opacity: 0.5;
    position: relative;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10000;
}
.gotop::before{
    content: "";
    display: block;
    border-top: 2px solid #333;
    border-right: 2px solid #333;
    width: 25%;
    height: 25%;
    top: 25%;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    transform: rotate(-45deg);
}
.gotop:hover{
    opacity: 1;
}
footer.bottom{
    position: absolute;/*←絶対位置*/
    bottom: 0; /*下に固定*/
}
/*Timer*/
p#timer{
    margin: 0;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0.08rem;
    text-align: center;
}
.timelimit{
    margin-top:10px;
}
/*確認ボタン*/
.confirm_button{
    margin-bottom: 20px;
    padding: 10px;
    width: 300px;
    color: #2285b1;
    font-size: 18px;
    font-weight: 700;
    border: 2px solid #2285b1;
}

/*レスポンシブ対応*/
@media (max-width: 480px){
    ul{
        display: block;
    }
    img{
        zoom:80%;
    }
    .panel-body{
        padding-bottom: 30px;
    }
   .store-list{
       margin:0;
   }
    main{
        display:flex;
        flex-flow: column;
    }
    .schedule{
        width: max-content;
    }
    .test{
        width: 100%;
    }
    .create{
        width: 100%;
        display:block;
        margin: top 20px;
    }
    .radio_box{
        width: 80%;
        padding-bottom: 100px;
        margin:auto;
        margin-top: 20px;
        padding-left: 30px;
        background-color:rgb(115, 185, 239);
    }
    .radio{
        padding-bottom: 0;
    }
    .radio-text{
        padding-top: 10px;
    }
    .label#test::before{
        top:30%
    }
    .table-responsive{
        width:80%;
    }
    .profile{
        width:100%;
       /*  margin:10 150; */
    }
    thead{
        display:none;
    }
    th{
        width: 50px;
    }
    h1{
        font-size: smaller;
    }
    .table-hover{
        width:100%;
    }
    .button input{
        width: 100px;
    }
    .list{
        padding: 0;
        margin: 0 40;
    }
    .button a{
        display: block;
        margin: 10px auto;
        text-align: center;
        width: 50%;

    }
    a.button{
        display: block;
        width:fit-content
    }
    tr.onetest{
        display: grid;
        width: 100%;
    }
    .status{
        width:100%;
    }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
        .button a{
            display: block;
            margin: 10px auto;
            text-align: center;
            width: 50%;
        }

        .profile{
            margin:0;
        }
        thead{
            display:none;
        }
        tr.onetest{
            display: grid;
            width: 100%;
        }
        .table-hover{
            width:100%;
        }
    }
    @media only screen and (min-width:800px) and (max-width:1200px){
        .button a{
            display: block;
            margin: 10px auto;
            text-align: center;
            width: 50%;
        }

        .profile{
            margin:0;
        }
        thead{
            display:none;
        }
        tr.onetest{
            display: grid;
            width: 100%;
        }
        .table-hover{
            width:100%;
        }
    }

.testtable-responsive{
    background-color: lightgreen;
    width: 80%;
    height: auto;
    margin: 0 50px;
   padding-bottom: 30px
}
.searchtable-responsive{
    background-color: lightgreen;
    width: 80%;
    height: auto;
    margin: 0 50px;
   padding-bottom: 30px
}
.testtable-responsive th{
    border:1px solid #000066;
    background:royalblue;
}
.searchtable-responsive td{
    border:1px solid #000066;
    background:#ffffff;
    height: 50px;
    width: 100px
}
.testtable-responsive  th{
    border:1px solid #000066;
    background:royalblue;
}
.testtable-responsive td{
    border:1px solid #000066;
    background:#ffffff;
    height: 50px;
    width: 300px;
    text-align: center;
}
.test{
    width:50%;
}
input{
    width: 350px;
}
.onetest td{
    text-align: center;
}
img{
    width: 50%;
    height: auto;
    margin: 0;
}
table {
    border-collapse:  collapse;     /* セルの線を重ねる */
}
th, td {
    border:1px solid #333;
    padding:5px;
  }

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
.testtable-responsive{
    margin:0 ;
 }
.radio-text{
    margin-top:10px;
    margin-left:10px;
}
.test{
    width:auto;
}
td{
    padding-top:20px;
}
.admin{
    width:100%;
}
table.admin_point{
    width:60%;
}
}
@media (max-width: 480px){

    .testtable-responsive{
        width: 100%;
        margin:0 ;
    }
    .searchtable-responsive{
        width: 100%;
    }
    .table-hover{
        width:100%
    }
    img{
        width:100%;
        background-color: rgb(115, 185, 239);

    }
    td{
        padding-top:20px;
    }
}
/*lenovo*/
@media only screen and (min-width:800px) and (max-width:1200px){
    .button a{
        display: block;
        margin: 10px auto;
        text-align: center;
        width: 50%;
    }

    .profile{
        margin:0;
    }
    thead{
        display:none;
    }
    tr.onetest{
        display: grid;
        width: 100%;
    }
    .table-hover{
        width:100%;
    }
    .admin{
        width:100%;
    }
    table.admin_point{
        width:60%;
    }
}
