p{
    margin:0 auto;
}
.card{
    width:60%;
}
.register-box{
    background-color: rgb(221, 213, 213);
    padding:8px;
}
@media (max-width: 480px){
    .card{
        width:fit-content;
    }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .card{
        width: fit-content;
    }

}
