.testtable-responsive{
    background-color: lightgreen;
    width: 80%;
    height: auto;
    margin: 0 50px;
   padding-bottom: 30px
}
.searchtable-responsive{
    background-color: lightgreen;
    width: 80%;
    height: auto;
    margin: 0 50px;
   padding-bottom: 30px
}
.testtable-responsive th{
    border:1px solid #000066;
    background:royalblue;
}
.searchtable-responsive td{
    border:1px solid #000066;
    background:#ffffff;
    height: 50px;
    width: 100px
}
.testtable-responsive  th{
    border:1px solid #000066;
    background:royalblue;
}
.testtable-responsive td{
    border:1px solid #000066;
    background:#ffffff;
    height: 50px;
    width: 300px;
    text-align: center;
}
.test{
    width:50%;
}
input{
    width: 350px;
}
.onetest td{
    text-align: center;
}
img{
    width: 50%;
    height: auto;
    margin: 0;
}
table {
    border-collapse:  collapse;     /* セルの線を重ねる */
}
th, td {
    border:1px solid #333;
    padding:5px;
  }
  .only{
    display: block;
    color:red;
    font-weight: bold;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
.testtable-responsive{
    margin:0 ;
 }
.radio-text{
    margin-top:10px;
    margin-left:10px;
}
.test{
    width:auto;
}
td{
    padding-top:20px;
}
.admin{
    width:100%;
}
table.admin_point{
    width:60%;
}

.only{
    display: block;
    color:red;
    font-weight: bold;
}
}
@media (max-width: 480px){

    span.follow{
        font-size:5px;
    }
    .testtable-responsive{
        width: 100%;
        margin:0 ;
    }
    .searchtable-responsive{
        width: 120%;
        margin:0;
    }
    .table-hover{
        width:100%
    }
    img{
        width:100%;
        background-color: rgb(115, 185, 239);

    }
    td{
        padding-top:20px;
    }
}
/*lenovo*/
@media only screen and (min-width:800px) and (max-width:1200px){
    .button a{
        display: block;
        margin: 10px auto;
        text-align: center;
        width: 50%;
    }

    .profile{
        margin:0;
    }
    thead{
        display:none;
    }
    tr.onetest{
        display: grid;
        width: 100%;
    }
    .table-hover{
        width:100%;
    }
    .admin{
        width:100%;
    }
    table.admin_point{
        width:60%;
    }
}
