.testtable-responsive{
    background-color: lightgreen;
    width: 80%;
    height: auto;
    margin: 0 50px;
    border: solid green;
    padding-bottom: 30px
}
.searchtable-responsive{
    background-color: lightgreen;
    width: 80%;
    height: auto;
    margin: 0 50px;
    border: solid green;
    padding-bottom: 30px
}
.testtable-responsive th{
    border:1px solid #000066;
    background:royalblue;
}
.searchtable-responsive td{
    border:1px solid #000066;
    background:#ffffff;
    height: 50px;
    width: 100px
}
.testtable-responsive  th{
    border:1px solid #000066;
    background:royalblue;
}
.testtable-responsive td{
    border:1px solid #000066;
    background:#ffffff;
    height: 50px;
    width: 300px;
    text-align: center;
}
.test{
    width:50%;
}
input{
    width: 350px;
}
.onetest td{
    text-align: center;
}
img{
    width: 50%;
    height: auto;
    margin: 0;
}
table {
    border-collapse:  collapse;     /* セルの線を重ねる */
}
th, td {
    border:1px solid #333;
  }
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
.testtable-responsive{
/*     width: max-content;
 */}
.radio-text{
    margin-top:10px;
    margin-left:10px;
}
.test{
    width:auto;
}
}
@media (max-width: 480px){

    .testtable-responsive{
        width: 100%;
    }
    .searchtable-responsive{
        width: 100%;
    }
    .table-hover{
        width:100%
    }
    img{
        width:100%;
        background-color: rgb(115, 185, 239);

    }
}
