.testtable-responsive{
    background-color: lightgreen;
    width: 80%;
    height: auto;
    margin: 0 50px;
    border: solid green;
    padding-bottom: 30px
}
.searchtable-responsive{
    background-color: lightgreen;
    width: 80%;
    height: auto;
    margin: 0 50px;
    border: solid green;
    padding-bottom: 30px
}
.testtable-responsive th{
    border:1px solid #000066;
    background:royalblue;
}
.searchtable-responsive td{
    border:1px solid #000066;
    background:#ffffff;
    height: 50px;
    width: 100px
}
.testtable-responsive  th{
    border:1px solid #000066;
    background:royalblue;
}
.testtable-responsive td{
    border:1px solid #000066;
    background:#ffffff;
    height: 50px;
    width: 100px
}


@media only screen and (-webkit-min-device-pixel-ratio: 2) {
.testtable-responsive{
/*     width: max-content;
 */}
.radio-text{
    margin-top:10px;
    margin-left:10px;
}
.test{
    width:auto;
}
}
@media (max-width: 480px){

    .testtable-responsive{
        width: max-content;
    }
    .searchtable-responsive{
        width: 100%;
    }
    .table-hover{
        width:100%
    }
}
