footer{
    border-top: 1px solid black;
    background-color:lightgreen;
    margin-top: 30px;
    padding-bottom: 10px;
}
.contact{
    background-color: aliceblue;
    padding-top: 10px;
    padding-bottom: 10px;
    border: solid 1px darkgray;
    border-radius: 10px;
    width: 50%;
    margin: 0 auto;}
.left{
    display:flex;
    justify-content: center;
    margin-top: 20px;
}
.welcome{
    display:flex;
    justify-content: center;
    background-color: lightgreen;
}
.welcome1 img,.welcome2 img{
    width: 500px;
    border: none;
}
.llco{
    background-color: lightgreen;
}
.video{
    color: #1422d1;
    font-weight: bold;
    background-color: beige;
    text-decoration: none;
    padding: 3px 10px;
    border: solid green;
    margin-right: 10px;
    width: 20%;
    margin: 10px auto;
}

a{
    text-decoration: none;
}
/*モニタリングツール紹介ページ*/
.rule{
    width:75%;
    margin:0 auto;
}
.monitor{
    border: solid 1px;
    margin: 10px 20%;
}
.monitor img{
    width:80%;
    margin-bottom: 20px;
}
.rec{
    display:flex;
}
.cartoon{
    background-color:#E6FFE9	;
    margin:5px 10px;
}
/*レスポンシブ対応*/
@media (max-width: 480px){
    .left{
        display:block;
        margin: 0 auto;
        width: 60%;
     }
    .contact a.button{
        margin: 0 auto;
     }
     .contact{
        width:max-content;
     }
     .top img{
        width: 400px;
    }
    .welcome1 img,.welcome2 img{
        width: 100%;
        border: none;
    }
    .llco img{
        width: 100%;
        border: none;
    }
    .regist img{
        width: 100%;
        border: none;
    }
}
     @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:portrait)  {
        .top img{
            width: 400px;
        }
        .welcome1 img,.welcome2 img{
            width: 100%;
            border: none;
        }
        .contact{
            width:100%;
        }
    }
